<script setup lang="ts">
import { onMounted, ref } from "vue";

const element = ref<HTMLDivElement | null>(null);

onMounted(() => {
  window.addEventListener("scroll", () => {
    if (!element.value) return;

    const rect = element.value.getBoundingClientRect();
    const windowHeight = window.innerHeight;
    const distanceFromTop = rect.top;

    if (distanceFromTop - windowHeight <= 0) {
      element.value.classList.add("fade-in");
    }
  });
});
</script>
<template>
  <div class="container">
    <div ref="element" class="animated-element">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste,
      cupiditate, totam cum sequi possimus aspernatur quam amet inventore
      exercitationem animi perferendis at quod placeat nemo illo consequuntur id
      facere repellat accusamus corrupti libero accusantium aperiam voluptates
      enim. Veniam sit dolores magni! Corporis, incidunt totam sint vitae ea
      repellat debitis deserunt, asperiores cupiditate, natus nobis placeat
      reprehenderit quisquam architecto rem? Eos delectus voluptatibus, soluta
      repellat adipisci tempore iste, autem expedita saepe possimus ullam
      reiciendis totam? Labore autem voluptas minus vitae est. Hic laudantium a
      quod eius earum quas ea, harum sunt fugit facere odio sed, iste dolor
      dolore quaerat dolores quisquam deserunt. Aliquam ratione asperiores vel
      libero sequi error qui, exercitationem, assumenda, dolorem placeat
      architecto ea? A tempora quod facilis vel quos excepturi aliquid
      blanditiis vero laudantium earum in impedit aliquam ratione nihil
      quibusdam eaque possimus, alias cupiditate doloremque corporis expedita
      natus dolore, ipsum quam! Similique quod corrupti hic nostrum deserunt.
    </div>
  </div>
  <v-sheet height="100%"></v-sheet>
</template>
<style scoped>
.animated-element {
  transition: all 2s ease;
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
</style>
