<script setup lang="ts">
import { ref } from "vue";
import {
  mdiLanguageJava,
  mdiLanguageJavascript,
  mdiLanguageTypescript,
  mdiLanguageCss3,
  mdiLanguageHtml5,
  mdiLanguagePython,
  mdiDatabaseSearch,
} from "@mdi/js";
import FooterVue from "@/components/FooterVue.vue";
import SliedVue from "@/components/SlideVue.vue";
import CardVue from "@/components/CardVue.vue";
import ProgressVue from "@/components/ProgressVue.vue";
import TimelineVue from "@/components/TimelineVue.vue";
let check = false;
function Onscroll() {
  window.addEventListener("scroll", () => {
    console.log(window.scrollY / 100);
    if (window.scrollY / 100 == 5) {
      check = true;
      console.log(check);
    }
  });
}
const skList = ref([
  {
    name: "Java",
    point: 75,
    icon: mdiLanguageJava,
  },
  {
    name: "HTML",
    point: 70,
    icon: mdiLanguageHtml5,
  },
  {
    name: "CSS",
    point: 70,
    icon: mdiLanguageCss3,
  },
  {
    name: "JavaScript",
    point: 85,
    icon: mdiLanguageJavascript,
  },
  { name: "Typescript", point: 70, icon: mdiLanguageTypescript },
  {
    name: "SQL",
    point: 55,
    icon: mdiDatabaseSearch,
  },
  {
    name: "Python",
    point: 60,
    icon: mdiLanguagePython,
  },
]);
</script>
<template>
  <v-app id="inspire">
    <v-main>
      <v-sheet class="bg-amber">
        <SliedVue />
        <CardVue />
        <TimelineVue />
        <v-container class="mx-auto">
          <div
            class="text-h4 font-weight-black text-indigo-darken-2 text-decoration-overline"
          >
            My Skills
          </div>
          <v-row class="ml-16">
            <v-col
              cols="3"
              class="mx-auto"
              v-for="(item, index) in skList"
              :key="index"
            >
              <ProgressVue
                :name="item.name"
                :point="item.point"
                :icon="item.icon"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-sheet>
    </v-main>
    <FooterVue />
  </v-app>
</template>
