<script setup lang="ts">
import { computed, ref } from "vue";
import FrameworkPop from "@/components/FrameworkPop.vue";
const frameList = ref([
  {
    name: "VueJs",
    img: "https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/367_Vuejs_logo-512.png",
    rating: 50,
  },
  {
    name: "Angular",
    img: "https://th.bing.com/th/id/OIP.Ca8m7_pPKZlmP5bgC7UfCgHaH0?pid=ImgDet&rs=1",
    rating: 20,
  },
  {
    name: "React",
    img: "https://i0.wp.com/programmingwithmosh.com/wp-content/uploads/2019/01/2000px-React-icon.svg_.png?fit=2000%2C1413&ssl=1",
    rating: 14,
  },
]);
function hasCall(index: number, rating: number) {
  console.log("hasCall " + index + " :" + rating);
  frameList.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) in frameList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @has-call="hasCall"
        ></FrameworkPop>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
