<script setup lang="ts"></script>
<template>
  <v-parallax>
    <v-card class="" width="100%" height="300" rounded="0">
      <v-img
        height="100%"
        cover
        src="https://i.pinimg.com/originals/09/c6/29/09c62903beeba336dc9da76eb5c9a107.gif"
      >
        <v-avatar color="grey" size="200" rounded="1" class="ml-5 mt-6">
          <v-img
            cover
            src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/151459730_1879732072199910_2364844133977882793_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=T6tOmYhzth4AX-VIcGZ&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfD_9VEdViLM5ESm4t-itJwWkvha3xbUxahF3C8LK4OIfg&oe=63C1B963"
          ></v-img>
        </v-avatar>
        <v-list-item
          class="text-white ml-8"
          title="Thanakit Wimutiwan"
          subtitle="Computer Science"
        ></v-list-item>
      </v-img>
    </v-card>
  </v-parallax>
  <v-hover v-slot="{ isHovering, props }" close-delay="200">
    <v-card
      class="text-grey-darken-3 mx-auto mt-16 mb-10 { 'on-hover': isHovering } pa-2"
      width="80%"
      height="150"
      text=""
      variant="tonal"
      rounded="xl"
      :elevation="isHovering ? 16 : 2"
      v-bind="props"
      card-color="rgba()"
    >
      <v-card-title class="font-weight-black">เกี่ยวกับฉัน</v-card-title>
      <p class="text-center font-weight-black">
        ปัจจุบันกำลังศึกษาอยู่ที่มหาวิทยาลัยบูรพา ปีที่ 2 คณะวิทยาการสารสนเทศ
        ระดับปริญญาตรี หลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์
        Bachelor of Science (Computer Science)
        <a
          href="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2022/08/2564_BSc_CS_ProgramSpec_Complete_23-11-64.pdf"
          class="text-decoration-none text-indigo-darken-2 text-decoration-underline"
          >หลักสูตรปรับปรุง พ.ศ. 2564</a
        >
      </p>
    </v-card>
  </v-hover>
  <v-hover v-slot="{ isHovering, props }" close-delay="200">
    <v-card
      rounded="xl"
      class="text-grey-darken-3 mx-auto mt-16 mb-10 { 'on-hover': isHovering } pa-2"
      width="80%"
      height="150"
      text=""
      variant="tonal"
      :elevation="isHovering ? 16 : 2"
      v-bind="props"
      ><v-card-title class="font-weight-black">สิ่งที่สนใจ</v-card-title>
      <p class="text-center font-weight-black">
        สนใจเกี่ยวกับการพัฒนา Application , Web application ,Software
        application และ การปรังปรุงแก้ไขเพื่อเพิ่มความสามารถของ Application
        การออกแบบหน้าจอสำหรับติดต่อกับผู้ใช้งาน การเขียน server
        สำหรับติดต่อกับฐานข้อมูล database
      </p></v-card
    ></v-hover
  >
</template>
