<script setup lang="ts">
import { ref } from "vue";

const t = defineProps<{ name: string; point: number; icon: string }>();
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-hover v-slot="{ isHovering, props }">
          <v-progress-circular
            :rotate="90"
            :size="150"
            :width="15"
            :model-value="t.point"
            v-bind="props"
            :indeterminate="isHovering ? 'primary' : undefined"
            color="indigo-darken-2 "
          >
            <v-badge :content="t.point">
              <v-icon :icon="t.icon" size="100"></v-icon
            ></v-badge>
          </v-progress-circular>
          <!--color="deep-purple accent-4" -->
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>
