<script setup lang="ts">
import { ref } from "vue";

const colors = ref([
  "indigo",
  "warning",
  "pink darken-2",
  "red lighten-1",
  "deep-purple accent-4",
]);
const slides = ref(["FIRST", "SECOND", "THIRD", "FOURTH", "FIFTH"]);
</script>
<template>
  <v-carousel cycle height="100vh" hide-delimiters show-arrows="hover">
    <v-carousel-item v-for="(slide, i) in slides" :key="i">
      <v-sheet :color="colors[i]" height="100%">
        <div class="d-flex fill-height justify-center align-center">
          <div class="text-h2 font-weight-bold">{{ slide }} SLIDE</div>
        </div>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>
