<script setup lang="ts">
import { ref } from "vue";
import { mdiSchool, mdiHumanGreetingVariant } from "@mdi/js";

import { mdiBabyFace } from "@mdi/js";
const years = ref([
  {
    color: "cyan",
    year: "ประถมศึกษา",
    data: "โรงเรียนชุมชนบ้านหนองปรือ",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/317088233_5102472406521464_1915123088179258775_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=fXZa6-OMtxoAX9B_KzK&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfD7jIEbf2_3xqRYp0u6NFqBi0g6AGazindtecLieycwBQ&oe=63A0253C",
  },
  {
    color: "green",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/314618925_818604616140154_6725748433136412798_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_ohc=tGMvdXqmepIAX-DGKOv&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCpzTMbCd-1wNFJbx0pw1jSEoLvnhquPjeYHQl8YUnh8A&oe=639F67FA",
    data: "โรงเรียนอักษรศึกษา",

    year: "มัธยมศึกษาตอนต้น",
  },
  {
    color: "pink",
    year: "มัธยมศึกษาตอนปลาย",
    img: "https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/284555531_3289355651301888_1228848337291049942_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=EvGRjWNSfPEAX853GlJ&tn=64LgzRxLDKHj6ism&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfBAspP0iOowyWTfoUNOpgmexPjG3wryv72kUZVdA3B7nw&oe=63A05480",
    data: "โรงเรียนบางละมุง",
  },
  {
    color: "amber",
    year: "มหาวิทยาลัย",
    img: "https://www.baan-d.com/wp-content/uploads/2017/10/%E0%B8%A1.%E0%B8%9A%E0%B8%B9%E0%B8%A3%E0%B8%9E%E0%B8%B2-1.jpg",
    data: "มหาวิทยาลัยบูรพา",
  },
  {
    color: "purple darken-3",
    year: "Wait Update",
    img: "https://i.pinimg.com/originals/c2/31/5e/c2315e438cb93db84703d1f9521ac531.gif",
    data: "",
  },
]);
</script>
<template>
  <v-sheet>
    <v-timeline align="start" class="ma-5 justify-center">
      <v-timeline-item
        v-for="(year, i) in years"
        :key="i"
        :dot-color="year.color"
        size="small"
        ><template v-slot:opposite
          ><v-div class="d-flex">
            <v-btn
              variant="flat"
              :color="year.color"
              class="text-white font-weight-black"
              disabled
              size="x-large"
              :prepend-icon="mdiHumanGreetingVariant"
              elevation="12"
            >
              {{ year.year }}
            </v-btn>
          </v-div>
        </template>
        <v-card class="" width="600" height="300" elevation="12">
          <v-card-title :class="`bg-${year.color}-lighten-1`">
            <v-icon
              v-if="i != years.length - 1"
              class="mr-4 text-white"
              size="large"
              :icon="mdiSchool"
            ></v-icon>

            <v-progress-circular
              indeterminate
              color="grey-lighten-4"
              v-else-if="year.year === 'Wait Update'"
            ></v-progress-circular>

            <h2
              :class="`ffont-weight-black text-white`"
              v-text="year.data"
            ></h2>
          </v-card-title>

          <v-img
            v-if="i != years.length - 1"
            width="100%"
            cover
            :src="year.img"
          ></v-img>
          <v-div v-else-if="year.year === 'Wait Update'">
            <v-img
              width="100%"
              src="https://bad.src/not/valid"
              cover
              :lazy-src="year.img"
            >
              <v-progress-circular
                class="mx-auto d-flex mt-16"
                width="10"
                indeterminate
                color="grey-lighten-4"
                size="100"
              ></v-progress-circular
            ></v-img>
          </v-div>
          <!-- <v-card-text
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis
            enim ut, harum similique libero nesciunt? Pariatur, esse explicabo
            beatae nemo ad odit vero possimus architecto at nihil vitae alias
            quas.</v-card-text
          > -->
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </v-sheet>
</template>
